# Please Install Anaconda on your machines

## 1. Python Basics

### Python as a Calculator

In [1]:
# addition
5 + 5

10

In [2]:
# subtraction
10 - 7

3

In [3]:
# multiplication
3 * 5

15

In [4]:
# division
10 / 2

5.0

In [5]:
# exponentiation 
4 ** 2

16

In [6]:
# modulo
18 % 7

4

In [7]:
# mathematical expression
100 * 1.1 ** 7

194.87171000000012

### Variables and Types

In [8]:
savings = 100
savings

100

In [9]:
savings = 100
factor = 1.1
years = 7
result = savings * factor ** years
print(result)

194.87171000000012

In [10]:
factor = 1.1

In [11]:
years = 7

In [12]:
result = savings * factor ** years

In [13]:
print(result)

194.87171000000012

In [14]:
type(savings)

int

In [15]:
type(factor)

float

In [16]:
type(result)

float

In [17]:
male = True
type(male)

bool

In [18]:
text = 'this is my first class'
type(text)

str

In [19]:
character = 'c'
type(character)

str

### Operations with other types

In [20]:
5 + 5

10

In [21]:
5 + 5.0

10.0

In [22]:
'this is my bhaskarjit's first class'

SyntaxError: invalid syntax (<ipython-input-22-33191222faa2>, line 1)

In [32]:
"""this is my bhaskarjit's first class
tomorrow will be his second class"""

"this is my bhaskarjit's first class\ntomorrow will be his second class"

In [29]:
"""this is my bhaskarjit's first class
tomorrow it will be his second class"""

"this is my bhaskarjit's first class\ntomorrow it will be his second class"

In [ ]:
# this is my third sentence
# this

In [33]:
# concatenation
'hello ' + 'world'

'hello world'

In [34]:
'hello' + ' ' + 'world'

'hello world'

In [35]:
"Hershey's " + 'chocolates'

"Hershey's chocolates"

### Type Conversion

In [36]:
float(5)

5.0

In [37]:
int(5.0)

5

In [38]:
str(5.0)

'5.0'

In [39]:
5.0 + 5.0

10.0

In [40]:
str(5.0) + ' , ' + str(5.0)

'5.0 , 5.0'

In [41]:
initial_amount = 10
final_amount = 100
print('I started with ' + initial_amount + ' now I have ' + str(final_amount))

TypeError: can only concatenate str (not "int") to str

In [42]:
initial_amount = 10
final_amount = 100
print('I started with ' + str(initial_amount) + ' now I have ' + str(final_amount))

I started with 10 now I have 100