## Creating Python List

In [1]:
a = 10

In [2]:
type(a)

int

How can you save heights of all the students present in the class?

In [3]:
# creating a list
hari = 176
ram = 172
mahesh = 168
raju = 174

heights = [hari, ram, mahesh, raju]
print(heights)

[176, 172, 168, 174]

In [4]:
type(heights)

list

Properties of List
+ List is a collection of values
+ it can contain any data type
+ can also contain different data types in the same list

In [5]:
# creating a list with different data types
heights = ['hari', hari, 'ram', ram, 'mahesh', mahesh, 'raju', raju]
print(heights)

['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 174]

In [6]:
# creating a list of lists
heights = [['hari', hari], ['ram', ram], ['mahesh', mahesh], ['raju', raju]]
print(heights)

[['hari', 176], ['ram', 172], ['mahesh', 168], ['raju', 174]]

In [7]:
type(heights)

list

## Subsetting Lists

In [8]:
heights = ['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 174]

In [9]:
heights[0]

'hari'

In [10]:
heights[1]

176

In [11]:
heights[-3]

168

In [12]:
heights[5]

168

### Slicing and Dicing

+ list[start:end], here <b>start</b> in included while <b>end</b> is excluded

In [13]:
heights

['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 174]

In [14]:
heights[3:5]

[172, 'mahesh']

In [15]:
heights[3:]

[172, 'mahesh', 168, 'raju', 174]

In [16]:
heights[3:]

[172, 'mahesh', 168, 'raju', 174]

In [17]:
heights[-4:]

['mahesh', 168, 'raju', 174]

In [18]:
heights[:-4]

['hari', 176, 'ram', 172]

In [19]:
heights[-4:-1]

['mahesh', 168, 'raju']

In [20]:
heights[-1:-4] # it gives no reult because slicing & dicing starts from left to right

[]

### List Manipulations

+ changing list elements
+ adding list elements
+ manipulating list elements

In [21]:
heights

['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 174]

In [22]:
heights[7] = 179

In [23]:
heights

['hari', 176, 'ram', 172, 'mahesh', 168, 'raju', 179]

In [24]:
heights[-3] = 170

In [25]:
heights

['hari', 176, 'ram', 172, 'mahesh', 170, 'raju', 179]

In [26]:
heights[0:2] = ['rahi', 167]

In [27]:
heights

['rahi', 167, 'ram', 172, 'mahesh', 170, 'raju', 179]

In [ ]:
# adding two lists

In [28]:
heights + ['me', 169]

['rahi', 167, 'ram', 172, 'mahesh', 170, 'raju', 179, 'me', 169]

In [29]:
heights

['rahi', 167, 'ram', 172, 'mahesh', 170, 'raju', 179]

In [30]:
heights[3]

172

In [31]:
heights[3:5]

[172, 'mahesh']

In [32]:
heights[0,2,4] = 'q', 'w', 'r'

TypeError: list indices must be integers or slices, not tuple

In [33]:
heights_2 = ['sag', 178]

In [34]:
heights_3 = heights + heights_2

In [35]:
heights_3

['rahi', 167, 'ram', 172, 'mahesh', 170, 'raju', 179, 'sag', 178]

### List of lists

In [36]:
first_element = ['ram', 'finance']

In [37]:
type(first_element)

list

In [38]:
first_element

['ram', 'finance']

In [39]:
subjects = [['ram', 'finance'], 
            ['raju', 'marketing'],
            ['mahesh', 'HR']]

In [40]:
subjects

[['ram', 'finance'], ['raju', 'marketing'], ['mahesh', 'HR']]

In [41]:
subjects[0][1]

'finance'

In [42]:
subjects[2][0]

'mahesh'

In [43]:
subjects[0][1]

'finance'